@page "/Contact"
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    <div class="text-center">
        <h1 class="display-4">Contact info</h1>
        <table>
            <tr>
                <th>Navn</th>
                <th>Email</th>
                <th>Telefon nr.</th>
            </tr>
            <tr>
                <td>Karen</td>
                <td>Karen.ibasarbejder@gmail.com</td>
                <td>+45 20 20 20 20</td>
            </tr>
        </table>
    </div>
}
