@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
        <tr>
            <td>Man 10</td>
            <td>Kylling (varm)</td>
            <td>Kylling (kold)</td>
        </tr>
        <tr>
            <td>Tirs 11</td>
            <td>Græskarsuppe</td>
            <td>Rester (meget koldt)</td>
        </tr>
        <tr>
            <td>Ons 12</td>
            <td>Taco onsdag</td>
            <td>salad</td>
        </tr>
        <tr>
            <td>Tors 13</td>
            <td>Pastaret</td>
            <td>Pastaret (kold)</td>
        </tr>
        <tr>
            <td>Fre 14</td>
            <td>Udefineret-suppe</td>
            <td>Smørebrød</td>
        </tr>
    </table>
</div>